* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color:#1a191f ;
font-family: "Open Sans", sans-serif;
}

.header {
    text-align: center;
    color:  #ffffff;
    font-size: 35px; 
}

.textto {
    font-size: 35px;
    text-decoration: none;
    color: #ffffff;
}

.tableland
{
    width: 300px;
    border: 1px solid #000;
    margin: auto;
}